<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card teal">
      <div class="card-content white-text">
        <div class="card-title">
          <%= "\##{post.publish_number}" if post.publish_number.present? %>
          <%= "\##{post.category_list.join(" ")} " %>
        </div>

        <%= time_tag(post.created_at) %>

        <%= simple_format(post.content) %>
      </div>
      <div class="card-action">
        <%= link_to "edit", edit_admin_post_path(post) %>
        <%= link_to "delete", admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to "post to fb", publish_to_fb_admin_post_path(post) %>
      </div>
    </div>
  </div>
</div>
