<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 setting-title">
          <h2>Settings</h2>
        </div>
      </div>
      <%= form_for [:admin, @setting], method: :patch do |f| %>
        <div class="row">
          <div class="col s12">
            <% if @fb_pages.present? %>
              <div class="input-field">
                <%= f.select(:fb_page, options_for_select(@fb_pages)) %>
                <%= f.label :fb_page %>
              </div>
            <% else %>
              <%= f.label :fb_page %>
              <%= @setting.fb_page ? @setting.fb_page : 'No page yet.' %>
            <% end %>
            <%= link_to 'Select Page', '/auth/facebook', class: 'btn' %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
          <%= f.text_field :page_name %>
          <%= f.label :page_name %>
          </div>
        </div>

        <div class="row input-field">
          <div class="input-field col s12">
            <%= f.number_field :start_number %>
            <%= f.label :start_number %>
          </div>
        </div>

        <div class="row input-field">
          <div class="input-field col s12">
            <%= f.text_field :categories, data: { role: 'materialtags' } %>
            <%= f.label :categories %>
          </div>
        </div>

        <div class="row">
          <div class="switch col s12">
            Auto Post
            <%= f.label :auto_post do %>
            Off
            <%= f.check_box :auto_post, {}, 'true', 'false' %>
            <span class="lever"></span>
            On
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <%= f.submit "Update", class: "btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
