<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body>

<%= render 'shared/navbar' %>

<main>
  <div class="container">
  <%= render 'shared/flash_toast' %>
  <%= yield %>
  </div>
</main>

<%= render 'shared/footer' %>
</body>
</html>
